extends layout
block conteudo
    .w3-container
        .w3-panel.w3-teal
            h3 Erro
            p= e
            p
                a(href='http://localhost:7000/')
                    | Voltar à Página Principal